<div class="top-page" style="background:#eeeeee;">

  <div class="row">
    <div class="sliderArea">
    <div class="full-screen slider">
      <% @lanobes.each do |lanobe| %>
        <%= link_to lanobe_path(lanobe.id), class: "no-underline" do %>
          <div class="lanobe-gazou">
            <%= attachment_image_tag lanobe, :image, fallback: "no-image2.jpg" %>
            <h5 class="pl-3"><%= lanobe.title %></h5>
          </div>
        <% end %>
      <% end %>
    </div>
    </div>
  </div>

  <div class="bg-light rounded-lg mt-5 ml-4 mr-4"><h4 class="pt-4 pl-4">ランキング<i class="far fa-thumbs-up pl-2 fa-lg"></i></h4>
    <div class="row">
      <% @favorite_ranks.each do |lanobe| %>
        <div class="flex-row ml-4">
          <div class="pl-2 py-4">
            <%= link_to lanobe_path(lanobe.id), class: "no-underline" do %>
              <div class="lanobe-gazou">
                <%= attachment_image_tag lanobe, :image, size: "200x235", fallback: "no-image2.jpg" %>
                <p><%= lanobe.title %></p>
              </div>
            <% end %>
            <div class="user-name">
              <p class="pl-1"><%= attachment_image_tag lanobe.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size: '40x40', class: "rounded-circle" %></p>
              <p class="pl-3"><%= lanobe.user.name %></p>
              <p class="pl-5"><i class="far fa-thumbs-up pr-1"></i><%= lanobe.favorites.count %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="text-center pb-4">
      <%= link_to "もっと見る", lanobes_path, class: "btn btn-outline-secondary btn-lg rounded-pill w-25" %>
    </div>
  </div>

  <div class="bg-light rounded-lg mt-5 ml-4 mr-4"><h4 class="pt-4 pl-4">ランキング<i class="far fa-comment pl-2 fa-lg"></i></h4>
    <div class="row">
      <% @comment_ranks.each do |lanobe| %>
        <div class="col-md-2">
          <div class="px-4 py-4">
            <%= link_to lanobe_path(lanobe.id), class: "no-underline" do %>
              <div class="lanobe-gazou">
                <%= attachment_image_tag lanobe, :image, size: "200x235", fallback: "no-image2.jpg" %>
                <p><%= lanobe.title %></p>
              </div>
            <% end %>
            <div class="user-name">
              <p class="pl-1"><%= attachment_image_tag lanobe.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size: '40x40', class: "rounded-circle" %>
              <p class="pl-3"><%= lanobe.user.name %></p>
              <p class="pl-5"><i class="far fa-comment pl-1"></i><%= lanobe.post_comments.count %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="text-center pb-4">
      <%= link_to "もっと見る", lanobes_path, class: "btn btn-outline-secondary btn-lg rounded-pill w-25" %>
    </div>
  </div>

  <div class="bg-light rounded-lg mt-5 pb-3"><h4 class="pt-4 pl-5 pb-2">ジャンル</h4>
    <div class="row pl-5 pb-3">
      <%= link_to "ファンタジー", lanobes_path(category_id: "1"), class: "btn btn-outline-secondary btn-lg mr-3" %>
      <%= link_to "バトル・アクション", lanobes_path(category_id: "2"), class: "btn btn-outline-secondary btn-lg mr-3" %>
      <%= link_to "SF", lanobes_path(category_id: "3"), class: "btn btn-outline-secondary btn-lg mr-3" %>
      <%= link_to "青春xラブコメ", lanobes_path(category_id: "4"), class: "btn btn-outline-secondary btn-lg mr-3" %>
      <%= link_to "ギャグ・コメディー", lanobes_path(category_id: "5"), class: "btn btn-outline-secondary btn-lg mr-3" %>
    </div>
  </div>

</div>
</div>
