<div class="top-page" style="background:#eeeeee;">

  <div class="row">
    <div class="sliderArea">
    <div class="full-screen slider">
      <% @lanobes.each do |lanobe| %>
        <%= link_to lanobe_path(lanobe.id), class: "no-underline" do %>
          <div class="lanobe-gazou">
            <%= attachment_image_tag lanobe, :image, fallback: "no-image2.jpg" %>
            <h5 class="pl-3"><%= lanobe.title %></h5>
          </div>
        <% end %>
      <% end %>
    </div>
    </div>
  </div>

  <div class="bg-light rounded-lg mt-5 ml-4 mr-4"><h4 class="pt-4 pl-4">ランキング<i class="far fa-thumbs-up pl-2 fa-lg"></i></h4>
    <div class="row">
      <% @favorite_ranks.each do |lanobe| %>
        <div class="flex-row ml-4">
          <div class="pl-2 py-4">
            <%= link_to lanobe_path(lanobe.id), class: "no-underline" do %>
              <div class="lanobe-gazou">
                <%= attachment_image_tag lanobe, :image, size: "200x235", fallback: "no-image2.jpg" %>
                <p><%= lanobe.title %></p>
              </div>
            <% end %>
            <div class="user-name">
              <%= link_to user_path(lanobe.user.id) do %>
                <p class="pl-1"><%= attachment_image_tag lanobe.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size: '40x40', class: "rounded-circle" %></p>
                <p class="pl-3"><%= lanobe.user.name %></p>
              <% end %>
              <p class="pl-5"><i class="far fa-thumbs-up pr-1"></i><%= lanobe.favorites.count %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="text-center pb-4">
      <%= link_to "もっと見る", lanobes_path, class: "btn btn-outline-secondary btn-lg rounded-pill w-25" %>
    </div>
  </div>

  <div class="bg-light rounded-lg mt-5 ml-4 mr-4"><h4 class="pt-4 pl-4">ランキング<i class="far fa-comment pl-2 fa-lg"></i></h4>
    <div class="row">
      <% @comment_ranks.each do |lanobe| %>
        <div class="col-md-2">
          <div class="px-4 py-4">
            <%= link_to lanobe_path(lanobe.id), class: "no-underline" do %>
              <div class="lanobe-gazou">
                <%= attachment_image_tag lanobe, :image, size: "200x235", fallback: "no-image2.jpg" %>
                <p><%= lanobe.title %></p>
              </div>
            <% end %>
            <div class="user-name">
              <%= link_to user_path(lanobe.user.id) do %>
                <p class="pl-1"><%= attachment_image_tag lanobe.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size: '40x40', class: "rounded-circle" %>
                <p class="pl-3"><%= lanobe.user.name %></p>
              <% end %>
              <p class="pl-5"><i class="far fa-comment pl-1"></i><%= lanobe.post_comments.count %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="text-center pb-4">
      <%= link_to "もっと見る", lanobes_path, class: "btn btn-outline-secondary btn-lg rounded-pill w-25" %>
    </div>
  </div>

  <div class="bg-light rounded-lg mt-5 pb-3"><h4 class="pt-4 pl-5 pb-2">ジャンル</h4>
    <div class="row pl-5 pb-3">
      <%= link_to "ファンタジー", lanobes_path(category_id: "1"), class: "btn btn-outline-secondary btn-lg mr-3" %>
      <%= link_to "バトル・アクション", lanobes_path(category_id: "2"), class: "btn btn-outline-secondary btn-lg mr-3" %>
      <%= link_to "SF", lanobes_path(category_id: "3"), class: "btn btn-outline-secondary btn-lg mr-3" %>
      <%= link_to "青春xラブコメ", lanobes_path(category_id: "4"), class: "btn btn-outline-secondary btn-lg mr-3" %>
      <%= link_to "ギャグ・コメディー", lanobes_path(category_id: "5"), class: "btn btn-outline-secondary btn-lg mr-3" %>
    </div>
  </div>

</div>
</div>

<script data-turbolinks-eval="false">
  var slider = $(".full-screen");

  document.addEventListener("turbolinks:before-cache", function() {
    slider.slick('unslick');
  });

  document.addEventListener("turbolinks:load", function () {
    $(function() {
      $(".full-screen").slick({
        //centerMode: true,
        centerPadding: '5%',
        dots: true,
        autoplay: true,
        autoplaySpeed: 3000,
        speed: 1000,
        infinite: true,
        pauseOnFocus: false,
        slidesToShow: 3,
        slidesToScroll: 1,
      });
    });

    $(".lanobe-gazou").ready(
    function(){
      $("a img") .hover(function(){
         $(this).fadeTo("0.01",0.3); // マウスオーバーで透明度を30%にする
      },function(){
         $(this).fadeTo("0.1",1.0); // マウスアウトで透明度を100%に戻す
      });
    });

    $('#lanobe_image').on('change', function (e) {
      var reader = new FileReader();
      reader.onload = function (e) {
          $("#preview").attr('src', e.target.result);
      };
      reader.readAsDataURL(e.target.files[0]);
    });

  });

</script>