<% if @lanobe.errors.any? %>
  <%= @lanobe.errors.full_messages.uniq.count %>件のエラーが発生しました
  <% @lanobe.errors.full_messages.uniq.each do |message| %>
    <%= message %>
  <% end %>
<% end %>



<h2 class="ml-5 mb-1 mt-3 mb-3">編集</h2>
<%= form_with model:@lanobe, local: true do |f| %>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 mt-3">
      <%= attachment_image_tag @lanobe, :image, :fill, 400, 450, fallback: "no_image.jpg"%>
      <%= f.attachment_field :image, placeholder: "プロフィール画像" %>
    </div>

    <div class="col-md-6 pl-5">
      <div class="title pb-4">
        <h5>タイトル</h5>
        <%= f.text_field :title, size: 60 %>
      </div>
      <div class="introduction pb-3">
        <h5>感想</h5>
        <%= f.text_area :introduction, size: "60x10" %>
      </div>
      <div class="submit pt-4">
        <%= f.submit '保存', class: "btn btn-success btn-lg w-75" %>
      </diV>
    </div>

  </div>
<% end %>