<% @lanobes.each do |lanobe| %>
  <div>
    <%= link_to lanobe_path(lanobe.id) do %>
      <%= attachment_image_tag lanobe, :image, size: "300x300" %>
    <% end %>
    <p>投稿ユーザー画像：<%= attachment_image_tag lanobe.user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg" %></p>
    <p>タイトル：<%= lanobe.title %></p>
    <p>説明：<%= lanobe.introduction %></p>
    <p>ジャンル : <%= lanobe.category.name %></p>
    <p>ユーザーネーム：<%= lanobe.user.name %></p>
    <p><%= link_to "#{lanobe.post_comments.count} コメント", lanobe_path(lanobe.id) %></p>
  </div>
<% end %>
<%= paginate @lanobes %>