<h1>画像投稿フォーム</h1>
<%= form_with model: @lanobe, local:true do |f| %>
  <h4>画像</h4>
  <%= f.attachment_field :image %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>説明</h4>
  <%= f.text_area :introduction %>
  <h4>ジャンル</h4>
  <%= f.select :category_id, @categories.map{|cat| [cat.name, cat.id]}, include_blank: "選択して下さい"  %>
  <%= f.submit '投稿' %>
<% end %>
