<% if @lanobe.errors.any? %>
  <%= @lanobe.errors.full_messages.uniq.count %>件のエラーが発生しました
  <% @lanobe.errors.full_messages.uniq.each do |message| %>
    <%= message %>
  <% end %>
<% end %>


<h2 class="pl-5 pb-1 pt-2">投稿</h2>
<%= form_with model: @lanobe, local:true do |f| %>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 pt-3">
      <%= image_tag 'no-image2.jpg', :size => '400x450', :id => 'preview' %>
      <%= f.attachment_field :image %>
    </div>

    <div class="col-md-6 pl-5">
      <div class="title pb-4">
        <h5>タイトル</h5>
        <%= f.text_field :title, size: 60 %>
      </div>
      <div class="introduction pb-3">
        <h5>感想</h5>
        <%= f.text_area :introduction, size: "59x10" %>
      </div>
      <div class="category pb-3">
        <h5>ジャンル</h5>
        <%= f.select :category_id, @categories.map{|cat| [cat.name, cat.id]}, include_blank: "選択して下さい"  %>
      </div>
      <div class="submit">
        <%= f.submit '投稿', class: "btn btn-success btn-lg w-25"%>
      </div>
    </div>

  </div>
<% end %>

