<div class="lanobe-body">
  <%= attachment_image_tag @lanobe, :image, size: "500x500" %>
  <p>タイトル：<%= @lanobe.title %></p>
  <p>説明：<%= @lanobe.introduction %></p>
  <p>ジャンル : <%= @lanobe.category.name %></p>
  <p>ユーザーネーム：<%= @lanobe.user.name %></p>
  <p>投稿日時：<%= @lanobe.created_at.strftime('%Y/%m/%d') %></p>
  <% if @lanobe.user == current_user %>
    <%= link_to "編集", edit_lanobe_path(@lanobe) %>
    <%= link_to "削除", lanobe_path(@lanobe), method: :delete %>
  <% end %>

  <div id= "favorite_<%= @lanobe.id %>">
    <%= render "favorite", lanobe: @lanobe %>
  </div>

</div>

<div class="comments" id="comment_<%= @lanobe.id %>">
  <%= render "comment", lanobe: @lanobe %>
</div>
