
<div class="row mb-5">
  <div class="col-md-1"></div>
  <div class="col-md-5 pt-5">
    <%= attachment_image_tag @lanobe, :image, :fill, 400, 450, fallback: "no-image2.jpg", size: '400x450' %>
    <div class="lanobe-user mt-4">
      <p class="d-inline-block"><%= attachment_image_tag @lanobe.user, :profile_image, fallback: "no-image.jpg", size: '70x70', class: "rounded-circle" %></p>
      <h5 class="d-inline-block ml-3 mr-5"><%= @lanobe.user.name %></h5>
      <p class="d-inline-block ml-5"><%= @lanobe.created_at.strftime('%Y/%m/%d') %></p>
    </div>
    <% #if @lanobe.written_by?(current_user) %>
    <% if current_user.writes?(@lanobe) %>
      <%= link_to "編集", edit_lanobe_path(@lanobe), class: "btn btn-outline-info" %>
      <%= link_to "削除", lanobe_path(@lanobe), method: :delete, class: "btn btn-outline-danger" %>
    <% end %>
  </div>

  <div class="col-md-5 pt-5">
    <h2 class="mb-5"><%= @lanobe.title %></h2>
    <p class="mt-3 mb-5"><%= @lanobe.introduction %></p>
    <h5 class="mt-5 mr-5 d-inline-block">ジャンル : <%= @lanobe.category.name %></h5>
    <div id= "favorite_<%= @lanobe.id %>" class="text-right d-inline-block ml-5">
      <%= render "lanobes/favorite", lanobe: @lanobe %>
    </div>
    <div class="comments pt-5" id="comment_<%= @lanobe.id %>">
      <%= render "lanobes/comment", lanobe: @lanobe, errors: [] %>
    </div>

    <%= form_with(model:[@lanobe, @post_comment], remote: true) do |f| %>
      <%= f.text_area :comment, size: "64x5", placeholder: "コメントをここに", class: "comment_text_area" %>
      <div class="pr-5">
        <%= f.submit "送信する", class: "btn btn-outline-success w-100" %>
      </div>
    <% end %>

  </div>

</div>






