<!DOCTYPE html>
<html>
  <head>
    <title>Book</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="container">
      <ul class="row">
        <% if user_signed_in? %>
          <li>
            <%= form_with url:search_path, method: :get, local: true do |f| %>
              <%= f.select 'search[model]', options_for_select({ "User" => "user", "Lanobe" => "lanobe" }) %>
              <%= f.select 'search[how]', options_for_select({ "完全一致" => "match", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partical"  }) %>
              <%= f.text_field 'search[value]' %>
              <%= f.submit :"検索" %>
            <% end %>
          </li>
          <li>
            <%= link_to 'マイページ', user_path(current_user.id) %>
          </li>
          <li>
            <%= link_to '投稿', new_lanobe_path %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "新規登録", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "ログイン", new_user_session_path %>
          </li>
        <% end %>
      </ul>
      <ul class="row">
        <li><%=link_to "TOP", root_path %></li>
        <li><%= link_to "投稿一覧", lanobes_path %></li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
