<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <script src="https://kit.fontawesome.com/ae10337e68.js" crossorigin="anonymous"></script>

    <title>LanoBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1/slick/slick.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1/slick/slick-theme.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1/slick/slick.min.js"></script>
  </head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "ロゴ", root_path, data: {"turbolinks" => false}, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="w-100">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "マイページ", user_path(current_user.id), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "投稿", new_lanobe_path, class: "nav-link" %>
            </li>
            <li class="nav-log_out">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-sign_up">
              <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav log_in">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="w-100">
      <ul class="navbar-nav mr-auto">

        <li class="nav top">
          <li><%=link_to "TOP", root_path, data: {"turbolinks" => false}, class: "nav-link" %></li>
        </li>
        <li class="nav lanobe_index">
          <li><%= link_to "投稿一覧", lanobes_path, class: "nav-link" %></li>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ジャンル
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% Category.all.each do |category| %>
              <%= link_to category.name, lanobes_path(category_id: category.id), class: "dropdown-item" %>
            <% end %>
          </div>
        </li>

        <li class="nav search">
          <%= form_with url:search_path, method: :get, local: true, class: "form-inline my-2 my-lg-0" do |f| %>
            <%= f.select "search[model]", options_for_select({ "User" => "user", "Lanobe" => "lanobe" }) %>
            <%= f.select "search[how]", options_for_select({ "完全一致" => "match", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partical"  }) %>
            <%= f.text_field "search[value]", placeholder: "ユーザー名 タイトル名で検索", class: "form-control mr-sm-2" %>
            <%= f.submit "検索", class: "btn btn-outline-success my-2 my-sm-0" %>
          <% end %>
        </li>

      </ul>
    </div>
  </nav>

<%= yield %>
</body>
</html>
